

<div class="row">
	
	<div class=".col-xs-12 .col-sm-12 .col-md-12 .col-lg-12 .col-xl-12 .col-12">
		<%= image_tag "og-share.png", class: "img-fluid" %>
	</div>
	<div class="container">
		
	<p class="info_mail"><b>info@greenstreetagency.com</b></p>
	</div>

</div>